:root{
    --color-primary:#08A6E4;
    --color-primary-shadow:rgba(7, 172, 230, .16);
    --color-redish:#FB3B64;
    --color-green:#55DFB4;
    --color-black:#000000;
    --color-grey:#A5A5A5;
    --color-light-grey:#F7F7F7;
    --color-white:#FFFFFF;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px #00000029;
}

.container{
    width: 1352px;
    margin: 0 auto;
}

/*------HEADER-------*/

/*NAVBAR*/


.navbar{
    /*position: sticky;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0px 3px 6px #00000029;*/
    /*padding: 0 136px;*/


}
.logo{
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: var(--color-primary);
    opacity: 1;
    cursor: pointer;
}
.navbar__list{
    display: flex;
    list-style: none;
}
.navbar__element{
    margin: 0 0 0 90px;
    text-align: center;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: var(--color-grey);
    opacity: 1;
    cursor: pointer;
    text-transform: uppercase;
    padding: 28px 0;

}
.navbar__element:hover{
    color: var(--color-black);
    display: flex;
    justify-content: center;
    position: relative;
}
.navbar__element:hover:after{
    content: "";
    width: 8em;
    height: 3px;
    background-color: var(--color-primary);
    position: absolute;
    top: 68.5px;
}

/*WELCOME SCREEN*/

.welcome-screen{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.welcome-screen__title{
    margin: 130px 0 20px 0;
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
}
.welocme-screen__text{
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin-bottom: 38px;
}
.cta__btn{
    display: inline-block;
    margin-top: 1px;
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0px;
    padding: 22px 157px;
    color: var(--color-white);
    background: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    opacity: 1;
    cursor: pointer;
}
.welcome-screen__banner{
    align-self: flex-end;
    background-image: url("../images/Background.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*STATS*/
.stats__title{
    margin-top: 100px;
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
}
.stats__section-content{
    padding: 0 200px;
    margin-top: 100px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.first__circle{
    background-color: var(--color-redish);
    position: relative;

}
.second__circle{
    background-color:var(--color-primary);
    position: relative;
}
.third__circle{
    background-color: var(--color-green);
    position: relative;
}
.first__circle:after{
    content: url("../images/Person.svg");
    position: absolute;
    left: 30px;
}
.second__circle:after{
    content: url("../images/Eye.svg");
    position: absolute;
    left: 23px;
    top: 10px;
}
.third__circle:after{
    content: url("../images/Catalog.svg");
    position: absolute;
    left: 30px;
    top: 5px;
}
.stats__column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats__column h3{
    margin: 14px 0 19px 0;
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: var(--color-black);
    opacity: 1;
}
.stats__column p{
    text-align: center;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0px;
    color: var(--color-grey);
    opacity: 1;
}

/*BENEFITS*/

.benefits__section{
    padding: 105px;
    background-color: var(--color-light-grey);
}
.benefits__section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefits__container{
    background-color: var(--color-white);
    margin-bottom: 40px;
    border: solid 1px #E8E9ED;
    border-radius: 5px;
    width: 1152px;
}
.benefits__container:last-child{
    border: none;
    margin-bottom: 0;
}
.benefits__container h2{
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin-bottom: 30px;

}
.benefits__container p{
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.first__container{
    display: flex;
    justify-content: space-between;


}
.first-image__container{
    margin-top: 100px;
    position: relative;
    margin-bottom: 40px;
    margin: 100px 120px 40px 0;

}
.first__image{
    background: url("../images/Macbook.png");
    width: 386px;
    height: 219px;
    background-position: center;
    background-size: contain;
    position: relative;
    z-index: 2;

}
.first-image__container::after{
    content: "";
    border-radius: 41px;
    width: 180px;
    height: 180px;
    /*transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);*/
    transform: rotate(45deg);
    opacity: 1;
    position: absolute;
    background-color: var(--color-redish);
    z-index: 0;
    bottom: 90px;
    left: 225px;

}
.first-text__container{
    margin: 90px 0 30px 30px;
    max-width: 420px;
    position: relative;
}
.first-text__container::after{
    content:"";
    width: 328px;
    height: 4px;
    background-color: var(--color-redish);
    position: absolute;
    bottom: 55px
}
.second-text__container{
    margin: 69px 30px 30px 0;
    max-width: 400px;
}
.second-text__container::after{
    content:"";
    width: 328px;
    height: 4px;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 65px
}
.second-image__container{
    background: url("../images/iPhone.png");
    width: 426px;
    height: 328px;
    background-position: center;
    background-size: contain;
    position: relative;
    z-index: 2;
}
.second__container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.second-image__container{
    margin: 30px 0 15px 70px;

}
.second__container::after{
    content: "";
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-primary);
    z-index: 0;
    bottom: 30px;
    left: 60px;
}
.third__container{
    display: flex;

    justify-content: space-between;
    background: var(--color-light-grey);
}
.first__part{
    background-color: var(--color-white);
    position: relative;
    max-width: 620px;
    height: 370px;
    border: solid 1px #E8E9ED;
    border-radius: 5px;
}
.second__part{

    height: 370px;
    max-width: 440px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-green);
    align-self: flex-end;
    margin-left: 60px;
    padding: 45px 0;


}
.third-text__container{
    max-width: none;
    margin: 70px 35px;

}
.third-image__container{
    background: url("../images/Trumpet.png");
    width: 296px;
    height: 208px;
    background-size: contain;
    background-position: center;
}
.third-text__container::after{
    content:"";
    width: 328px;
    height: 4px;
    background-color: var(--color-green);
    position: absolute;
    bottom: 70px;
}
.benefits__container p:last-child{
    margin-bottom: 40px;
}

/*PRICING*/


.pricing__title{
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin-top: 100px;
    margin-bottom: 70px;
}
.boxes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.box{

    border-radius: 18px;
    opacity: 1;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box h3{
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin-top: 34px;

}
.box h4{
    text-align: left;
    font: normal normal 300 46px/2px Open Sans;
    letter-spacing: 0px;
    /*color: var(--color-redish);*/
    opacity: 1;
    margin-bottom: 90px;
    margin-top: 50px;
}
.box:nth-child(1) h4{
    color: var(--color-redish);
}
.box:nth-child(2) h4{
    color: var(--color-primary);
}
.box:nth-child(3) h4{
    color: var(--color-green);
}
.box p{
    text-align: center;
    font: normal normal normal 14px/41px Open Sans;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
    margin-bottom: 20px;
}
.box p:nth-child(7){
    margin-bottom: 55px;
}
.include::before{
    content: url("../images/Ckechmark-1.svg");
    width: 5px;
    height: 5px;
    margin-right: 13px;
}
.include--not::before{
    content: url("../images/Close.svg");
    width: 5px;
    height: 5px;
    margin-right: 13px;
}
.basic{
    border: 1px solid #FB3B64;
}
.professional{
    border: 1px solid var(--color-primary);
    transform: scale(1.1);
    box-shadow: 5px 10px 27px #07ACE629;
}
.premium{
    border: 1px solid var(--color-green);
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 23px;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    bottom: -25px;
}
.basic .btn{
    background-color: var(--color-redish);
}
.professional .btn{
    background-color: var(--color-primary);

}
.premium .btn{
    background-color: var(--color-green);
}
.contact{
    display: flex;
    flex-direction: column;

}
.form__content{
    display: flex;
    justify-content: space-between;
    width: 900px;
}
.contact{
    margin-right: 100px;
}
.contact h2{
    text-align: left;
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
}
.contact p{
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: var(--color-black);
    opacity: 1;
}
.contact-form{
    display: flex;
    flex-direction: column;
}